<% layout('/layouts/boilerplate') -%>

    <div class="row custform">
        <div class="col col-lg-6 offset-3">
            <h1 class="my-4">Login Form</h1>
            <form action="/login" method="post" class="needs-validation mt-3" novalidate>
          
                <div class="mb-3 ">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="username" required>
                </div>
                 <div class="mb-3 ">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control"  id="password"  placeholder="password" required>
                </div>
                <button  type="submit" class="btn btn-success" class="mb-3 ">Login</button>
                </form>
        </div>
    </div>