<% layout('/layouts/boilerplate') -%>

    <div class="row custform">
        <div class="col col-lg-6 offset-3">
            <h1 class="my-4">SignUp Form</h1>
            <form action="/signup" method="post" class="needs-validation mt-3" novalidate>
          
                <div class="mb-3 ">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="username" required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                      <div class="invalid-feedback">
                        Please Enter Name
                      </div>
                </div>
                 <div class="mb-3 ">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" name="email" class="form-control" placeholder="email" id="email" required>
                </div>
                 <div class="mb-3 ">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control"  id="password"  placeholder="password" required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>
                <button  type="submit" class="btn btn-success" class="mb-3 ">submit</button>
                </form>
        </div>
    </div>